---
layout: default
title: Blog
description: "#programmer #nyc"
---

<section id="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <div class="post_date_perm">
        <time class="date" datetime="{{ post.date | date_to_rfc822 }}" pubdate="pubdate">
          {{ post.date | date_to_string }}
        </time>
        <a class="permalink" href="{{ post.url }}" title="{{ post.title }}">
          Permalink
        </a>
      </div>
      <div class="post_content">
        <h2>
          <a href="{{ post.url }}" title="{{ post.title }}">
            {{ post.title }}
          </a>
        </h2>
        {{ post.content }}
      </div>
      <div class="clear"></div>
    </article>
  {% endfor %}
  <div id="pagination">
    <hr>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" title="Previous" class="prev">
        New
      </a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" title="Next" class="next">
        Old
      </a>
    {% endif %}
  </div>
</section>