<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Keighl</title>
  <meta name="verify-v1" content="CustAsX7dzBXVYTuXsMTf6nb2NmF6w/GJN0ClwfcpJ0=" />
  <meta name="description" content="{{ page.description }}">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="/assets/stylesheets/screen.css" rel="stylesheet" type="text/css">
  <script src="/assets/js/modernizr-2.0.6.min.js"></script>
</head>
<body>
  <div id="main">
    <div class="container">
      {{ content }}
      <nav>
        <a href="/" id="logo">
          keighl
        </a>
        <p class="description">
          #programmer<br>
          #nyc
        </p>
        <ul class="menu">
          <li>
            <a href="http://github.com/keighl">Github</a>
          </li>
          <li>
            <a href="http://twitter.com/keighl">Twitter</a>
          </li>
          <li>
            <a href="http://clambakeapp.com">Clambake</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="top_bar"></div>
  <a href="http://github.com/keighl">
    <img class="fork_me" src="/assets/media/fork_me.png" alt="Fork me on GitHub">
  </a>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/assets/js/jquery.js"%3E%3C/script%3E'))</script>
  <script type="text/javascript" src="/assets/js/plugins.js"></script>
  <script type="text/javascript" src="/assets/js/global.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1411320-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
