<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>     <!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>{{ page.title }} | Keighl</title>
  <meta content='width=device-width, minimum-scale=1.0, maximum-scale=1.0' name='viewport'>
  <link href='/assets/stylesheets/screen.css' rel='stylesheet' type='text/css'>
  <meta content='{{ page.description }}' name='description'>
  <link href='/favicon.ico' rel='shortcut icon'>
  <!--[if lt IE 9]>
  <link href='/assets/stylesheets/lt_ie9.css' rel='stylesheet' type='text/css'>
  <![endif]-->
  <script src='/assets/js/modernizr.js'></script>
</head>
<body>
  <div class='cover-container'>
    <div class='cover-surface'>
      <div class='cover-content'>
        <div class='cover'>
          <nav class='cover-menu'>
            <div class='cover-menu-inner'>
              <ul class='cover-menu-list'>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='/'>
                    Home
                    <span class='icon-chevron'></span>
                  </a>
                </li>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='http://clambakeapp.com'>
                    Clambake
                    <span class='icon-chevron'></span>
                  </a>
                </li>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='https://github.com/keighl'>
                    Github
                    <span class='icon-chevron'></span>
                  </a>
                </li>
                <li class='cover-menu-item'>
                  <a class='cover-menu-link' href='http://twitter.com/keighl'>
                    Twitter
                    <span class='icon-chevron'></span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class='content-wrapper'>
    <div class='content-wrapper-inner'>
      <div class='white-page'>
        {{ content }}
      </div>
    </div>
  </div>
  <div class='logo'>
    <a class='logo-link' href='/'>
      keighl
    </a>
  </div>
  <div class='header'>
    <div class='header-wrapper'>
      <div class='header-sub-wrapper'>
        <a class='icon-menu header-menu-icon' href=''></a>
        <a class='header-title' href='/'>
          <span class='text'>keighl</span>
        </a>
      </div>
    </div>
  </div>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
  </script>
  <script src='/assets/js/global.js'></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1411320-1']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
