// Imports -------------------------------------------------------------------

@import "compass";
@import "compass/css3";               //CSS3 Effects
@import "compass/support";            //Cross-browser support
@import "compass/utilities/general";  //General CSS utils
@import "compass/typography/text";     //Text/image replacement utils

@import "normalize";
@import "base";
@import "prettify";
@import "fonts";

/* Layout ------------------------------------------------------------------*/

.container {
  @include container;
  @include susy-grid-background;
}
$text-color: #060606;
$shadow-color: rgba(0,0,0,0.3);
$transition-time: 100ms;
$transition-easing: "ease-in-out";

::-moz-selection{ background:#B3A69D; color:#fff; text-shadow: none; }
::selection { background:#B3A69D; color:#fff; text-shadow: none; }


body {
  background-color:#f7f7f7 ; /* #222222;*/  /* overriden for main content blocks */
  color:#606060;
  position:relative;
  font-size:85%;
  font-family:"ArvoRegular";
  padding-top: 7em;
  padding-bottom:3em;
  background-image:image-url('noise.png');

}

strong {
  font-family:'ArvoBold';
  font-style:normal;
  font-weight:normal;
}

em {
  font-family:'ArvoItalic';
  font-style:normal;
  font-weight:normal;
}

strong {

  em {
    font-family:'ArvoBoldItalic';
    font-style:normal;
    font-weight:normal;
  }

}

em {

  strong {
    font-family:'ArvoBoldItalic';
    font-style:normal;
    font-weight:normal;
  }

}

hr {
  border:none;
  border-top:1px #fff solid;
  border-bottom:1px #d8d8d8 solid;
  margin-bottom:20px;
}


code {
  background:#fff;
  @include border-radius(2px);  
  background-color: #FEE9CC;
  padding: 1px 3px;
}

a,
a:link,
a:visited {
  color:#00A0C6;
  text-decoration:none;
  @include transition("all", $transition-time, $transition-easing);
  border-bottom:1px #00A0C6 dotted;


  &:hover {
    color:#336571;
    border-bottom:1px #336571 dotted;
  }

}

p {
  line-height:1.9em;
  margin:0px 0px 20px 0px;
}   

blockquote {
  line-height:1.7em;
  margin:0em 0em 1em 0em;
  font-size:1.2em;
  padding-left:2em;
  background: transparent image-url("bg_quote.png") scroll no-repeat left top;

  p {
    margin-bottom: 20px;
  }

}

cite {

  line-height:1.7em;
  margin:0em 0em 1em 0em;
  font-size:1em;
  padding-left:2em;
  font-family:"ArvoItalic";

  strong {
    font-weight: normal;
    font-family:"ArvoBold";
  }

  em {
    font-weight: normal;
    font-family:"ArvoItalic";
  }

  p {
    margin-bottom: 20px;
  }

}

ul {
  list-style-type: circle;
}

ul, ol {

  margin:0em 0em 2em 0.25em;

  li {
    margin-bottom:0.7em;
    line-height:1.7em;

  }

}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
  font-family:'Helvetica';
  font-weight: bold;
  letter-spacing:-0.05em;
  margin-top:0px;

  a {
    border-bottom:none !important;
  }

}

//h1, h2 {
//  font-family:"Lobster";
//}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin-bottom:20px;

} 

  h1 { font-size:2em; }
  h2 { font-size:2em; }
  h3 { font-size:1.2em; margin-bottom:10px;}
  h4 { font-size:1em; margin-bottom:10px;}
  h5 { font-size:1em; margin-bottom:10px; }
  h6 { font-size:1em; }

img,
a img {
  max-width:100%;
  border:none !important;
}

pre,
pre.prettyprint {
  margin-bottom:20px;
  font-size:0.8em;
}

/* Layout ----------------------------- */

#top_bar {
  
  position:fixed;
  top:0px;
  height:1em;
  width:100%;
  
  z-index:5;
  @include linear-gradient(color-stops(#30353B, #30353B), bottom);
  border-bottom:1px #fff solid;
  @include box-shadow($shadow-color, 0em, 0em, 0.4em);


}

.fork_me {
  position: fixed; 
  top: 0; 
  right: 0; 
  border: 0; 
  z-index:6;
}

#posts {
  @include columns(10);
  @include alpha;
  position:relative;
}


.post {

  @include clearfix();
  margin-bottom: 2em;
  padding-bottom: 2em;

  .post_date_perm {
    @include columns(2, 10);
    min-height:2em;
    border-right:1px solid #d8d8d8;
    width:95px;
  }

  .date {
    padding-top: 0.5em;
    margin-bottom: 0em;

  }

  .permalink {
    display: block;
    border-bottom:none !important;
    font-family:Helvetica;
    font-size:0.9em;
    padding: 0.3em 0em 1em 0em;
    color: #606060;

    span {
      font-family:'Pictos';
      font-size:1.5em;
      display: inline-block;
      margin-right: 0.2em;
    }

    &:hover {
      @include opacity(0.8);
    }


  }

  .post_content {
    font-size : 1.1em;
    @include columns(7.5, 10);
    margin-right:0px;

      img,
      p img {
        border:0.3em solid #fff !important;
        @include box-shadow($shadow-color, 0em, 0em, 0.2em);
        @include transition("all", $transition-time, $transition-easing);
        margin-right: 2em;
        margin-bottom:1em;
      }

      a {

        &:hover img {
          @include opacity(0.9);
        }

      }
      
  		// WP image styles
			img.size-auto,
			img.size-full,
			img.size-large,
			img.size-medium,
			.attachment img {
				max-width: 100%; /* When images are too wide for containing element, force them to fit. */
				height: auto; /* Override height to match resized width for correct aspect ratio. */
			}
			.alignleft,
			img.alignleft {
				display: inline;
				float: left;
				margin-right: 2em;
			}
			.alignright,
			img.alignright {
				display: inline;
				float: right;
				margin-left: 2em;
				margin-right:0em;
			}

			.aligncenter,
			img.aligncenter {
				clear: both;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

			img.alignleft,
			img.alignright,
			img.aligncenter {
				margin-bottom: 1em;
			}

			.wp-caption {
				img {

				}
				p {

				}
			}

  }

  .meta {

    a {
      display:inline-block;
      padding: 0.3em 0em 0.3em 0em;
      border-bottom:none;
      margin-right: 1.5em;
      color: #666666;

      span {
        font-family:'Pictos';
        font-size:1.5em;
        display:inline-block;
        margin-right: 0.2em;
      }

      &:hover {
        @include opacity(0.8);
      }

    }

  }
  
  hr.last {
    margin-top:40px;
  }


}

#pagination {
  margin-bottom:20px;
  @include full();
  @include alpha();
  text-align:center;

  hr {
    margin-bottom:40px;
  }
  
  a {
    display:inline-block;
    font-family:'Lobster';
    color:#fff;
    font-size:1.5em;
    padding:6px;
    padding-top:10px;
    @include border-radius(3px);
    background-color:#807e7e;
    background-repeat:no-repeat;
    width:100px;
    text-decoration:none;
    text-shadow: #000 1px 1px 1px;
    border:none;
    
    &:hover {
      background-color:#9c9c9c;
    }
    
  }
  
  a.prev {
    
    text-align:right;
    padding-right:10px;
    background-image:image-url('bg_prev.png');
    background-position:11px center;
    
    &:hover {
      background-position:8px center;
    }
    
  }
  
  a.next {
    
    text-align:left;
    padding-left:10px;
    background-image:image-url('bg_next.png');
    background-position:85px center;
    
    &:hover {
      background-position:88px center;
    }
    
    
  }
  

  
}


nav {
  
  @include columns(2);
  @include omega;

  a#logo {
    font-family:'Lobster';
    font-weight: bold;
    font-size:3em;
    letter-spacing:-0.05em;
    border:none;
    display: block;
    margin-bottom: 0.25em;
    text-transform: lowercase;
  }

  .description {
    color:#999;
    margin-bottom: 1em;

  }

  
  ul.menu {
    margin:0;
    padding:0;

    li {
      list-style-type:none;
      margin: 0;
      

      a {
        border-bottom:none;
        padding: 0.2em 0em;
        display:block;

        &:hover {
          border-bottom:none;
          padding-left: 0.4em;
        }

      }

      &:last-child {
        border-bottom:none;
      }

    }

  }

}

#not_found {
  background-image:image-url('bg_not_found.png');
  background-repeat:no-repeat;
  background-position:center top;
  padding-top: 150px;
  text-align: center;
  font-size: 2em;
}


/* --------------------------------  */

@media all and (orientation:portrait) { 

}

@media all and (orientation:landscape) { 

}

@media screen and (max-device-width: 480px) {


  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

